       <footer class="footer">
            <div class="footer__container">
                <a href="{{home}}" class="footer__logo"></a>
                <nav class="footer__nav">
                    <div class="footer__nav-column">
                        <a href="{{home}}" class="nav__column-item">Главная</a>
                        <a href="{{category.href}}" class="nav__column-item">Каталог</a>
                        <a href="{{category.href}}" class="nav__column-item">Кольца</a>
                    </div>
                    <div class="footer__nav-column">
                        <a href="assets/html/changeproduct.html" class="nav__column-item">Ожерелья</a>
                        <a href="assets/html/changeproduct.html" class="nav__column-item">Браслеты</a>
                        <a href="assets/html/changeproduct.html" class="nav__column-item">Цепочки</a>
                    </div>
                    <div class="footer__nav-column">
                        <a href="assets/html/changeproduct.html" class="nav__column-item">Серьги</a>
                        <a href="assets/html/changeproduct.html" class="nav__column-item">Мужские кольца</a>
                        <a href="assets/html/vchangeproduct.html" class="nav__column-item">Мужские браслеты</a>
                    </div>
                </nav>
                <div class="footer__right">
                    <a href="#tel" class="footer__right-tel" >+7 (922) 555-1234</a>
                    <div class="footer__right-adress">г. Москва, <br> 2-й Балтийский переулок дом 11 </div>
                </div>
            </div>
        </footer>