
<body>
    <div class="wrapper">
        {{header}}
        <main class="main">
            <section class="section__top">
                <div class="section__top-container">
                    <div class="section__top-title">Изысканные сокровища: откройте для себя мир ювелирных украшений</div>
                    <div class="section__top-subtitle">Найдите свой идеальный бриллиант, ограненный в соответствии с самыми высокими стандартами качества, в нашем новом магазине ювелирных украшений.</div>
                    <a href="catalog.html" class="section__top-button">Каталог</a>
                </div>
            </section>
            <section class="section__new">
                <div class="section__new-container">
                    <div class="section__title">Новинки</div>
                        <div class="section__new-items">
                            <a href="assets/html/productcard.html" class="section__new-item">
                                <div class="new__item-preview">
                                    <img src="catalog/view/theme/internetmagazin/images/sectionnew/preview.jpg" alt="#">
                                </div>
                                <div class="new__item-name">Кольцо золотое с брилиантами</div>
                                <div class="new__item-price">25 000 тыс.</div>
                            </a>
                            <a href="assets/html/productcard.html" class="section__new-item">
                                <div class="new__item-preview">
                                    <img src="catalog/view/theme/internetmagazin/images/sectionnew/preview.jpg" alt="#">
                                </div>
                                <div class="new__item-name">Кольцо из золота с фианитом</div>
                                <div class="new__item-price">18 000 тыс.</div>
                            </a>
                            <a href="assets/html/productcard.html" class="section__new-item">
                                <div class="new__item-preview">
                                    <img src="catalog/view/theme/internetmagazin/images/sectionnew/preview.jpg" alt="#">
                                </div>
                                <div class="new__item-name">Кольцо золотое Diamonds</div>
                                <div class="new__item-price">8 000 тыс.</div>
                            </a>
                            <a href="assets/html/productcard.html" class="section__new-item">
                                <div class="new__item-preview">
                                    <img src="catalog/view/theme/internetmagazin/images/sectionnew/preview.jpg" alt="#">
                                </div>
                                <div class="new__item-name">Помолвочное кольцо из белого золота с бриллиантом</div>
                                <div class="new__item-price">15 000 тыс.</div>
                            </a>
                            <a href="assets/html/productcard.html" class="section__new-item">
                                <div class="new__item-preview">
                                    <img src="catalog/view/theme/internetmagazin/images/sectionnew/preview.jpg" alt="#">
                                </div>
                                <div class="new__item-name">Цепь золотая SOKOLOV</div>
                                <div class="new__item-price">6 000 тыс.</div>
                            </a>
                            <a href="assets/html/productcard.html" class="section__new-item">
                                <div class="new__item-preview">
                                    <img src="catalog/view/theme/internetmagazin/images/sectionnew/preview.jpg" alt="#">
                                </div>
                                <div class="new__item-name">Кольцо золотое широкое</div>
                                <div class="new__item-price">12 000 тыс.</div>
                            </a>
                        </div>
                </div>
            </section>
            <section class="section__company">
                <div class="section__company-container">
                    <div class="section__company-item">
                        <img src="catalog/view/theme/internetmagazin/images/sectioncompany/c01.png" alt="">
                    </div>
                    <div class="section__company-item">
                        <img src="catalog/view/theme/internetmagazin/images/sectioncompany/c02.png" alt="">
                    </div>
                    <div class="section__company-item">
                        <img src="catalog/view/theme/internetmagazin/images/sectioncompany/c03.png" alt="">
                    </div>
                </div>
            </section>
            <section class="section__catalog">
                <div class="section__catalog-container">
                    <div class="section__title">Каталог</div>
                    <div class="section__catalog-items">
                        <div class="section__catalog-sale">Скидки</div>
                        <div class="section__catalog-popular">Популярное</div>
                        <div class="section__catalog-hit">
                            <div class="catalog__hit-title">Хит продаж</div>
                            <a href="assets/html/catalog.html" class="catalog__hit-button">Каталог</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section__skill">
                <div class="section__skill-container">
                    <div class="section__skill-item">
                        <div class="skill__item-icon">
                            <img src="catalog/view/theme/internetmagazin/images/sectionskill/hand.png" alt="">
                        </div>
                        <div class="skill__item-title">Уникальность продукции</div>
                    </div>
                     <div class="section__skill-item">
                        <div class="skill__item-icon bag">
                            <img src="catalog/view/theme/internetmagazin/images/sectionskill/bag.png" alt="">
                        </div>
                        <div class="skill__item-title">Эксклюзивные предложения</div>
                    </div>
                    <div class="section__skill-item">
                        <div class="skill__item-icon">
                            <img src="catalog/view/theme/internetmagazin/images/sectionskill/diplom.png" alt="">
                        </div>
                        <div class="skill__item-title">Высокое качество</div>
                    </div>
                </div>

            </section>
            <section class="section__action">
                <div class="section__action-container">
                    <div class="section__title">Акции</div>
                    <div class="section__action-items">
                        <a href="assets/html/changeproduct.html" class="action__items-se">Серьги</a>
                        <a href="assets/html/changeproduct.html" class="section__items-co">Кольца</a>
                        <a href="assets/html/changeproduct.html" class="section__items-po">Подвески</a>
                    </div>
                </div>
            </section>
        </main>
         {{footer}}
    </div>

   
</body>
</html>